/*
 * HEADER
*/

.site-header {
  min-height: $spacing-unit * 1.865;
  background-color: $brand-blue;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0; 
  width: 100%;
}

/* Navbar */
.site-nav {
  float: right;
  margin-top: 25px;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: #fff;
    line-height: $base-line-height;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include media-query($on-palm) {
    position: fixed;
    top: 20px;
    margin-top: 0px;
    right: $spacing-unit / 2;
    background-color: #fff;
    border-radius: 2px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $brand-blue;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      color: $brand-blue;
      line-height: $base-line-height * 2;
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}


/*
 * HOME
*/

 /* Imagens */
.image-home {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include media-query($on-palm){
    display: none;
  }
}

.image-home-mobile {
  @include media-query($on-laptop){
    display: none;
  }

  @include media-query($on-palm){
    display: inline;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
  }
}


/*
 * SOBRE
*/

 /* Animações e Imagens */
.cover-sobremim {
  text-align: center;
  animation-name: coveranimacao;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  border-radius: 50%;

  @include media-query($on-palm) {
    display: none;
   }
}

.cover {
  animation-delay: .1s;
}

@keyframes coveranimacao {
  0% {transform: translateY(30px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 100;}
}

.images-cover {
  width: 100%;
}

.images-topics {
  @include media-query($on-palm){
  display: none;
  }
}

.titulo-mobile {
  display: none;
  margin-top: -30px;
  margin-bottom: -50px;

  @include media-query($on-palm) {
    display: inline;
    grid-template-columns: 100%;

   }
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-column-gap: 50px;

   @include media-query($on-palm) {
    grid-template-columns: 100%;

   }
}

.grid-container-2 {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 50px;
    margin-top: 80px;
    margin-bottom: 50px;

   @include media-query($on-palm) {
    grid-template-columns: 100%;

   }
}

.grid-sobre {
  margin-top: 70px;
}

/* Conteúdo da grid*/
.sobre-first {
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 800;
}

.ano-conteudo-sobre {
  line-height: 15px;
  margin-top: 5px;
}

.titulo-conteudo-sobre {
  line-height: 25px;
  margin-bottom: 10px;
  margin-top: 30px;
  font-weight: 800;
}

.descricao-conteudo-sobre {
  line-height: 20px;
  margin-top: 15px;
}


/*
 * TRABALHOS 
*/

.imagem-trabalhos {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

/* Informações sobre a grid (.gridcontainer está organizada nas classes do header) */
.grid-trabalhos img {
  transition: transform 1s;
}

.grid-trabalhos img:hover {
  transform: scale(1.1);
}

.grid-trabalhos {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Animação cover trabalho */
.imagem-trabalhos {
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}

.grid-trabalhos img {
  transition: transform 1s;
}

.grid-trabalhos img:hover {
  transform: scale(1.1);
}


.grid-trabalhos {
  margin-top: 50px;
  margin-bottom: 50px;
}

.title {
  line-height: 20px;
  font-weight: 800;
  font-size: 22px;
}


/*
 * CONTATO 
*/

.form-alinhamento {
  margin-top: 70px;
}


/*
 * ME SEGUE 
*/

/* flexbox e animação */
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 90px;
}

.caixa {
  text-align: center;
  animation-name: mesegueanimacao;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  border-radius: 50%;
}

.caixa1, .caixa2, .caixa3, .caixa4 {
  margin-bottom: 50px;
}

@media(max-width: $on-palm) {
  .caixa1, .caixa2, .caixa3, .caixa4  {
    width: 100%;
  }
}

.caixa1 {
  animation-delay: .1s
}
.caixa2 {
  animation-delay: .2s
}
.caixa3 {
  animation-delay: .3s
}
.caixa4 {
  animation-delay: .4s
}

@keyframes mesegueanimacao {
  0% {transform: translateY(30px); opacity: 0;}
  100% {transform: translateY(0px); opacity: 100;}
}


/*
* GERAL
*/

/* Descrições */
.descricao-page {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Títulos */
.site-title {
  width: 36px;
  @include relative-font-size(1.625);
  font-weight: 300;
  margin-top: 10px;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}

/* Conteúdo da página */
.page-content {
  padding-top: 100px;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);  
}

/* Posts */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/* Inputs */
input[type=text] {
  width: 100%;
  height: 40px;
}

input[type=submit] {
  width: 120px;
  height: 40px;
  font: $base-font-family;
  background-color: $brand-blue;
  border: none;
  color: $brand-yellow;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit]:hover {
      background-color: darken($brand-blue, 20%);
    } 

input[type="textarea"],
textarea {
    width: 100%;
    height: 120px;
}