@charset "utf-8";

/* Valores das variáveis */
$base-font-family: Inconsolata, monospace, "Apple Color Emoji" !default;
$base-font-size:   18px !default;
$base-font-size-g: 22px !default;
$base-font-weight: 400 !default;
$base-font-weight-titulos: 800 !default;

$base-line-height: 1.3 !default;
$spacing-unit:     40px !default;

$text-color:       #111 !default;
$brand-blue:	   #0000ff !default;
$brand-yellow:     #fbe303 !default;

$content-width:    960px !default;
$on-palm:          320px !default;
$on-laptop:        1440px !default;


/* Mixins para devices */
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


/* Mixins para títulos */
@mixin titulos1 {
	font-size: $base-font-size-g;
	line-height: 25px;
	font-weight: $base-font-weight-titulos;
  	color: $brand-blue;
}

@mixin titulos2 {
	font-size: $base-font-size-g;
	font-weight: $base-font-weight-titulos;
	color: $text-color;
}

@mixin textos {
	font-size: $base-font-size;
	line-height: 18px;
	font-weight: $base-font-weight;
	color: $text-color;
}


/* Impots */
@import
  "estilopaginas/base",
  "estilopaginas/layout",
  "estilopaginas/syntax-highlighting"
;

@import url('https://fonts.googleapis.com/css?family=Inconsolata');